@use "helpers" as *;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    &.is-lock {
        overflow: hidden;
    }
}

body {
    display: flex;

    flex-direction: column;
    font-family: var(--font-family-base);
    font-size: rem-clamp(14, 18);
    letter-spacing: -0.03em;
    // color: var(--color-gray-50);
    // background-color: var(--bg-color);
    background-color: var(--color-bg);
    color: var(--color-text);
}

main {
    flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: var(--font-family-accent);
    font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
}

h1,
.h1 {
    font-size: rem-clamp(30, 70);
    line-height: 1.2;
}

h2,
.h2 {
    font-size: rem-clamp(28, 58);
    line-height: 1.3;
}

h3,
.h3 {
    font-size: rem-clamp(24, 40);
}

h4,
.h4 {
    font-size: rem-clamp(18, 26);
}

h5,
.h5 {
    font-size: rem-clamp(18, 24);
}

h6,
.h6 {
    font-size: rem-clamp(16, 20);
}

p {
    --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-accent);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a,
button {
    &[aria-label] {
        position: relative;

        &::before {
            @include abs-center;
            @include square(rem(44));

            content: "";
        }
    }
}
