@use "helpers" as *;

$color-bg: #99b3c6;

//--- zinc-800 --- neutral-900
//--- slate-600 ---
//--- slate-400 --- yellow-400
//--- slate-300 ---

:root {
    --primary: #221831;
    --primary-light: #465779;

    --secondary: #8992a5;
    --secondary-light: #aaafbb;

    --text-primary: #d7d9df;
    --text-primary-light: #ecedf0;

    //--- ---
    --indicate: #e6e6e6;
    --bg-indicate: #48484a;
    --left-position: 5px;
    --rotate-angle: 0deg;
}

:root[data-theme="dark"] {
    --primary: #141414;
    --primary-light: #535353;

    --secondary: #ffd11a;
    --secondary-light: #ffdb5f;

    --text-primary: #ffeec4;
    --text-primary-light: #fff6e4;

    //--- ---
    --bg-indicate: #ec6e4d;
    --left-position: 35px;
    --rotate-angle: 360deg;
}

:root {
    --color-light: #ffffff;

    --color-dark: #141414;
    --color-dark-10: #1a1a1a;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;

    --color-gray-50: #7e7e81;
    --color-gray-60: #98989a;

    // --color-accent: #ffd11a;
    --color-red: #ff5500;

    --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

    --border: #{rem(1)} solid var(--color-dark-15);
    --outline: #{rem(2)} solid #2980b960;
    --outline-theme: #{rem(2)} solid var(--primary-light);
    --shadow: 0 0 0 #{rem(3)} #191919;

    --font-family-base: "Inter", sans-serif;
    --font-family-accent: "Kumbh Sans", sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    --100vw: calc(100vw - var(--scrollbar-width));

    @include laptop {
        --container-width: #{rem(1280)};
    }
}
