@use "helpers" as *;

:root {
    // --bg-color: #086ca2;
    --bg-color: #235b79;
    --text-color: #000;
    // --bg-image: url("/images/app-bg.webp");
    // --bg-image-1024: url("/images/app-bg-1024.webp");
    --color-accent: #bf7e30;

    --indicate: #e6e6e6;
    --bg-indicate: #48484a;
    --left-position: 5px;
    --rotate-angle: 0deg;
}

:root[data-theme="dark"] {
    --bg-color: #141414;
    --text-color: #7e7e81;
    // --bg-image: url("/images/app-bg-dark.webp");
    // --bg-image-1024: url("/images/app-bg-dark-1024.webp");
    --color-accent: #ffd11a;

    // --background-color: #100e1c; /* Цвет фона для тёмной темы */
    // --text-color: #e6e6e6; /* Цвет текста для тёмной темы */
    --bg-indicate: #ec6e4d; /* Цвет индикатора для тёмной темы */
    --left-position: 35px; /* Положение индикатора для тёмной темы */
    --rotate-angle: 360deg; /* Угол индикатора для тёмной темы */
}

:root {
    --color-light: #ffffff;

    --color-dark: #141414;
    --color-dark-10: #1a1a1a;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;

    --color-gray-50: #7e7e81;
    --color-gray-60: #98989a;

    // --color-accent: #ffd11a;
    --color-red: #ff5500;

    --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

    --border: #{rem(1)} solid var(--color-dark-15);
    --outline: #{rem(2)} solid #2980b960;

    --shadow: 0 0 0 #{rem(3)} #191919;

    --font-family-base: "Inter", sans-serif;
    --font-family-accent: "Kumbh Sans", sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    --100vw: calc(100vw - var(--scrollbar-width));

    @include laptop {
        --container-width: #{rem(1280)};
    }
}
