@use "helpers" as *;

$color-bg: #99b3c6;

:root {
    --color-text1: #4d3f72;
    --color-text1-rgb: 77, 63, 114;

    --color-text2: #8a7c9c;
    --color-text2-rgb: 138, 124, 156;

    --color-bg1: #c5c0c9;
    --color-bg1-rgb: 197, 192, 201;

    --color-bg2: #dfe0e5;
    --color-bg2-rgb: 223, 224, 229;

    --color-accent: var(--color-text1);
    --color-accent-text: var(--color-bg1);

    //--- ---
    --indicate: #e6e6e6;
    --bg-indicate: #48484a;
    --left-position: 5px;
    --rotate-angle: 0deg;
}

:root[data-theme="dark"] {
    --color-bg1: #221831;
    --color-bg1-rgb: 34, 24, 49;

    --color-bg2: #465779;
    --color-bg2-rgb: 70, 87, 121;

    --color-text1: #99b3c6;
    --color-text1-rgb: 153, 179, 198;

    --color-text2: #d3d7e7;
    --color-text2-rgb: 211, 215, 231;

    --color-accent: var(--color-text1);
    --color-accent2: var(--color-bg1);

    //--- ---
    --bg-indicate: #ec6e4d;
    --left-position: 35px;
    --rotate-angle: 360deg;
}

:root {
    --color-light: #ffffff;

    --color-dark: #141414;
    --color-dark-10: #1a1a1a;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;

    --color-gray-50: #7e7e81;
    --color-gray-60: #98989a;

    // --color-accent: #ffd11a;
    --color-red: #ff5500;

    --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

    --border: #{rem(1)} solid var(--color-dark-15);
    --outline: #{rem(2)} solid #2980b960;
    --outline-theme: #{rem(2)} solid var(--color-text1);
    --shadow: 0 0 0 #{rem(3)} #191919;

    --font-family-base: "Inter", sans-serif;
    --font-family-accent: "Kumbh Sans", sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    --100vw: calc(100vw - var(--scrollbar-width));

    @include laptop {
        --container-width: #{rem(1280)};
    }
}
