@use "../helpers" as *;

.button {
    display: inline-flex;
    justify-content: center;
    padding: rem-clamp(6, 10) rem-clamp(12, 16);

    font-size: rem-clamp(16, 20);
    color: var(--color-accent-text);
    white-space: nowrap;

    background-color: var(--color-accent);
    border-radius: rem(12);

    transition: color 0.2s ease-in, background-color 0.2s ease-in, outline 0.2s ease-in, outline-offset 0.2s ease-in;

    @include laptop {
        border-radius: rem(8);
    }

    @include hover {
        color: var(--color-text1);
        background-color: var(--color-bg1);
        outline: 2px solid var(--color-text1);
        outline-offset: 2px;
    }
}
